
.blog-inner {
    overflow: hidden;
}

.blog-inner img {
    transition: all 1.5s ease;
}

.blog-inner:hover img {
    transform: scale(1.2);
}

.blog-arrow-on-image {
    position: absolute;
    left: 35%;
   bottom:-12%;
}
.blog-image-container{
    max-width: 100%;
    min-width: 280px;
    width: 500px;
    height: 220px;
}
.text-height{
height: 25%;
text-align: justify;
}
@media only screen and (max-width: 1192px) {
    .text-height{
        height: auto;
        }
  }
  .image-container{
    max-width: 100%;
    min-width: 280px;
    width: 500px;
    height: 220px;
}
.content-container {
    height: 400px;
  }
  
  @media (min-width: 1400px) {
    .content-container {
      height: 400px;
    }
  }
  
  /* @media (min-width: 992px) {
    .content-container {
      height: 320px;
    }
  } */